.bg-soft-green { background-color: #e6f0fa !important; }
.bg-soft-blue { background-color: #e6f0fa !important; }
.bg-soft-yellow { background-color: #e6f0fa !important; }
.bg-soft-teal { background-color: #e6f0fa !important; }
.bg-soft-purple { background-color: #e6f0fa !important; }
.bg-soft-greyblue { background-color: #e6f0fa !important; }